*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
/* Common class */
.green{
    color: #3aebcb;
}
.red{
    color: #bd6c6f;
}
.white{
    color: #f4f3f7;
}
/*  */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image{
    width: 100vw;
    height: 100vh;
    position: relative;
    user-select: none;
}
.calc-ui{
    height: 80%;
    width: 25%;
    background-color: #22252d;
    position: absolute;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
}
.noti-bar{
    height: 4%;
    width: 100%;
    border-radius: 24px;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.time-container{
    height: 60%;
    width: 20%;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    /* font-size: 16px;  */
}
.time{
    user-select: none;
}
.icon{
    height: 60%;
    width: 20%;
    border-radius: 24px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.result{
    height: 30%;
    background-color: #22252d;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.first-result{
    height: 10%;
    width: 100%;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 300;
    letter-spacing: 2px;
}
.first-result > span{
    margin-right: 32px;
}
.second-result{
    height: 30%;
    width: 100%;
    border-radius: 24px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: end;
    /* font-weight: 300; */
    letter-spacing: 2px;
}
.second-result > span{
    margin-right: 32px;
    color: white;
    font-size: 32px;
}
.key-container{
    height: 60%;
    background-color: #2a2d37;  
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    height: 20%;
}
.key{
    height: 80%;
    width: 20%;
    font-size: large;
    background-color: #22252d;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.key:hover{
    opacity: 0.7;
    cursor: pointer;
}
.footer{
    display: flex;
    position: fixed;
    height: 30px;
    width: 100%;
    background-color: #29455a;
    bottom: 0;
    align-items: center;
    padding-left: 8px;
    font-weight: 300;
}
.github-logo{
    height: 22px;
    width: 22px;
    margin-right: 4px;
}
.bio{
    text-decoration: 0;
    color: black;
    font-weight: 300;
}
.bio:hover{
    text-decoration: underline;
    cursor: pointer;
}